<div class="container bg-white mb-3">
  <h3 class="text-center mt-5 pt-3"><%= user.name %>の投稿履歴</h1>
  <div class="wrapper d-flex">
    <div class="user-info col-4 mt-5 mr-3">
    <p>ユーザー名：<%= user.name %></p>
    <p>投稿数：</p>
    <p><a href="#" class="text-primary">フォローリスト</a></p>
    <p>自己紹介</p>
    <div class="intro-content mb-3 border-top border-bottom py-2">
      <%= user.introduce %>
    </div>
    <% if (loggedIn && (currentUser._id.toString === user._id.toString)) { %>
      <a href="#" class="btn btn-success btn-sm">編集</a>
    <% } %>
  </div>
  
  <div class="index col-8">
    <div class="row row-col-2 mt-5">
      <% if (false) { %>
        <div class="trip-container col-6 border p-3">
          <div class="trip-title"><#%= link_to trip.title, trip_path(trip.id), class: 'text-body h5' %></div>
          <div class="d-flex">
            <div class="username">投稿日<#%= trip.created_at.strftime('%Y/%m/%d') %>(<%= trip.prefecture.name %>)</div>
            <div class="username ml-auto">投稿者：<#%= @user.name %></div>
          </div>
          <div class="fish-result my-2">釣果：
            <#% trip.results.each do |result| %>
              <%#= result.fish_name %>
            <#% end %>
          </div>
          <div class="content-container my-2">
            <#%= trip.content.truncate(5) %>
          </div>
          <div class="image-container">
          <#% if trip.results.first && trip.results.first.image.attached? %>
            <#%= link_to (image_tag trip.results.first.image, width: '80%', height: 'auto'), trip.results.first.image %>
          <#% end %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
</div>
